- var property_inner = (t_property || property)
- var model = t_property ? 'arr_object':'model'

if property_inner.inputType === 'select'
  label(ng-bind="#{model}.#{property_inner.key} | filter_#{property_inner.key}")
else if property_inner.inputType === 'textarea'
  label(ng-bind-html="#{model}.#{property_inner.key} | break")
else if property_inner.inputType === 'date'
  label(ng-bind="#{model}.#{property_inner.key} | date:'yyyy-MM-dd'")
  //- label {{#{model}.#{property_inner.key} | date:'yyyy-MM-dd HH:mm:ss'}}
else if property_inner.image
  img(width="100px", height="100px", ng-src="{{#{model}.#{property_inner.key}}}", alt="{{#{model}.#{property_inner.key}}}")
else if property_inner.subKey
  label(ng-bind="#{model}.#{property_inner.key}.#{property_inner.subKey}")
else
  label(ng-bind="#{model}.#{property_inner.key}")
