- var property_inner = (t_property || property)
- var array = Boolean(t_property)
- var model = t_property ? 'arr_object':'model'

if property_inner.inputType === 'select'
  select(ng-model="#{model}.#{property_inner.key}")
    each op in property_inner.options
      option(value="#{op.value}") #{op.name}
else if property_inner.inputType === 'textarea'
  textarea(rows="3" cols="20", ng-model="#{model}.#{property_inner.key}")
else if property_inner.inputType === 'date'
  input(type="date", ng-model="#{model}.#{property_inner.key}")
else if property_inner.image
  input(type="#{property_inner.inputType}", ng-model="#{model}.#{property_inner.key}")
  img(width="50px", height="50px", ng-src="{{#{model}.#{property_inner.key}}}", alt="{{#{model}.#{property_inner.key}}}")
else
  if array
    input(type="#{property_inner.inputType}", size=10, min=0, max=999999, ng-model="#{model}.#{property_inner.key}")
  else
    input(type="#{property_inner.inputType}", ng-model="#{model}.#{property_inner.key}")
