extends layout2
block scripts
  include crud_script.jade
block content
  .container(ng-controller="HEHEController")
    .row
      #content.col-lg-12
        include ./title
        .col-md-12
          a.btn.btn-default.marginR20(ng-click="addModel()") 添加新纪录
          label() 总记录数{{models.length}}
        .row
          .col-md-12
            table.table.table-paper.table-hover.table-bordered.table-striped
              thead
                tr
                  each property in propertys
                    th= property.name
                  th.w120 操作
              tbody
                tr(ng-repeat="(k,model) in models")
                  each property in propertys
                    if  property.array
                      td(ng-click="editModel($event,model,k)", ng-show="!model.isUpdate")
                        table.table.table-paper.table-hover.table-striped
                          tr(ng-repeat="(inkey, arr_object) in model.#{property.key}")
                            each t_property in property.tem_propertys
                              td
                                if t_property.name
                                  label='  ' + t_property.name+':'
                                include ./crud_td.jade
                      td(ng-show="model.isUpdate")
                        table
                          tr(ng-repeat="(inkey, arr_object) in model.#{property.key}")
                            each t_property in property.tem_propertys
                              td
                                if t_property.name
                                  label='  ' + t_property.name+':'
                                include ./crud_input.jade
                    else
                      td(ng-show="!model.isUpdate")
                        include ./crud_td.jade
                      td(ng-show="model.isUpdate")
                        if property.readOnly
                          include ./crud_td.jade
                        else
                          include ./crud_input.jade
                  td
                    i.fa.fa-pencil.fontS18.marginR20(ng-click="editModel($event,model,k)", title="编辑" ng-show="!model.isUpdate")
                    i.fa.fa-trash-o.fontS18.marginR20(ng-click="deleteModel($event,model,k)", title="删除" ng-show="!model.isUpdate")
                    i.fa.fa-check.fontS18.marginR15(ng-click="updateModel($event,model,k)", title="更新" ng-show="model.isUpdate")
                    i.fa.fa-undo.fontS18.marginR15(ng-click="cancelUpdateModel($event,model,k)", title="取消" ng-show="model.isUpdate")
